{{#if layout '===' 'fullwidth'}}
    <div id="noFacetedSearch" class="facetedSearch">
        <div class="_accordion-block">
            <div class="_accordion-navigation toggleLink {{#if collapsed}} is-open {{/if}}"
                role="button"
                tabindex="0"
                data-collapsible="#brands-navList">
                <h4 class="_accordion-title">
                    <span class="_toggle-cats">
                        <svg class="icon"><use href="#icon-arrow-filter-down"></use></svg>
                    </span>
                    {{lang 'footer.brands'}}
                </h4>
            </div>
            <div id="brands-navList" class="_accordion-content {{#if collapsed}}is-open{{/if}}">
                <ul>
                    {{#if layout '==' 'left-sidebar'}}
                        {{#each shop_by_brand}}
                        <li class="navList-item"><a class="navList-action" rel="nofollow" data-instantload href="{{url}}" title="{{name}}">{{name}}</a></li>
                        {{/each}}
                    {{else}}
                        {{#each shop_by_brand}}
                        <li class="navList-item"><a class="navList-action" rel="nofollow" data-instantload href="{{url}}" title="{{name}}">{{name}}</a></li>
                        {{/each}}
                    {{/if}}
                    <li class="navList-item"><a class="navList-action" data-instantload href="{{urls.brands}}"><svg class="icon"><use href="#icon-more" /></svg><span>{{lang 'search.faceted.more'}}</span></a></li>
                </ul>
            </div>
        </div>
    </div>
{{else}}
    <div class="sidebarBlock sidebarBlock--navList sidebarBlock--brands sidebarBlock--mobileCollapsible">
        <h3 class="sidebarBlock-heading is-open" href="#" data-collapsible="#brands-navList" tabindex="0" aria-expanded="true">
            <span class="_toggle-cats">
                <svg class="icon"><use href="#icon-arrow-filter-down"></use></svg>
            </span>
            {{lang 'footer.brands'}}
        </h3>
        <ul id="brands-navList" class="beautify__navList is-open" aria-hidden="false">
            {{#if layout '==' 'left-sidebar'}}
                {{#each shop_by_brand}}
                <li class="navList-item"><a class="navList-action" rel="nofollow" data-instantload href="{{url}}" title="{{name}}">{{name}}</a></li>
                {{/each}}
            {{else}}
                {{#each shop_by_brand}}
                <li class="navList-item"><a class="navList-action" rel="nofollow" data-instantload href="{{url}}" title="{{name}}">{{name}}</a></li>
                {{/each}}
            {{/if}}
            <li class="navList-item"><a class="navList-action" data-instantload href="{{urls.brands}}"><svg class="icon"><use href="#icon-more" /></svg><span>{{lang 'search.faceted.more'}}</span></a></li>
        </ul>
    </div>
{{/if}}