<ul class="navUser-section" id="dinosaur_nav_user_2">
    {{#if theme_settings.logo_position '==' 'center'}}
        {{> components/common/header/logo-li}}
    {{/if}}
    {{#if settings.phone_number}}
        {{#if theme_settings.navUser-phone '===' 'show'}}
            <li class="navUser-item navUser-item--phone u-hideDesktop">
                <a class="navUser-action" href="tel:{{settings.phone_number}}" title="{{lang 'header.call_us' phone_number=settings.phone_number}}">
                    <svg class="icon"><use href="#icon-phone2" /></svg>
                    <span class="_label">{{{lang 'header.call_us2' phone_number=settings.phone_number}}}</span>
                </a>
            </li>
        {{/if}}
    {{/if}}
    <li class="navUser-item navUser-item--account">
        <a id="login-dropdown-navLeft" data-toggle="login-popup" class="navUser-action navUser-action--account login-dropdown--popup" href="{{#if customer}}{{urls.account.index}}{{else}}{{urls.auth.login}}{{/if}}" title="{{lang 'common.account'}}">
            <svg class="icon"><use href="#icon-account" /></svg>
            <span class="_label">{{lang 'common.account'}}</span>
        </a>
        <div id="login-popup" class="login-popup general-account {{#if customer}}has-account{{/if}}" aria-hidden="true">
            {{> components/account/login-popup}}
        </div>
        <div class="previewLogin-overlay" id="popup-overlay"></div>
    </li>
    {{#if settings.gift_certificates_enabled}}
        <li class="navUser-item navPages-item--page navUser-item--giftCert">
            <a class="navUser-action navUser-action--giftCert" href="{{urls.gift_certificate.purchase}}" title="{{lang 'common.gift_cert'}}">
                <svg class="icon"><use href="#icon-gift-certificate"></use></svg>
                <span class="_label">{{lang 'common.gift_cert'}}</span>
            </a>
        </li>
    {{/if}}
    <li class="navUser-item navUser-item--cart">
        <a
        data-cart-preview
        data-toggle="cart-preview-dropdown"
        href="{{urls.cart}}"
        title="{{lang 'common.cart'}}"
        class="navUser-action navUser-action--cart _cart-btnToggle">
            <div class="_cart-icon">
                <svg class="icon"><use href="#icon-cart" /></svg>
            </div>
            <span class="_total-cart">
                <span data-cart-preview-price class="_total-price-nav"></span>
                <span class="_total-items">
                    <span class="countPill cart-quantity"></span><span class="cart-quantity-label">
                        <span class="_single-item">{{lang 'cart.single_item'}}</span>
                        <span class="_plural-item">{{lang 'cart.plural_item'}}</span>
                    </span>
                </span>
            </span>
        </a>
    </li>
</ul>
