{{#or banners.bottom theme_settings.instantload}}
{{#if settings.data_tag_enabled}}
<div class="banners--bottom" data-banner-location="bottom">
    <div class="container">
        {{#each (limit banners.bottom_metadata 1)}}
        <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}"
            data-position="{{this.location}}" data-name="{{this.banner-name}}">
            <div data-event-type="promotion-click">
                {{{this.content}}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="banners--bottom" data-banner-location="bottom">
    <div class="container">
        <div class="banner">
            {{{limit banners.bottom 1}}}
        </div>
    </div>
</div>
{{/if}}
{{/or}}

{{{region name="footer_before"}}}
{{{region name="footer_before--global"}}}

<footer class="footer" role="contentinfo">
    <h2 class="is-srOnly">{{lang 'footer.footer_start'}}</h2>

    {{{region name="footer_top--global"}}}
    <section class="footer-info">
        <div class="container ">
            <div class="footer-info--list">
                {{#if theme_settings.footer_show_contactInfo}}
                    <article class="footer-info--contact-us">
                        {{#if theme_settings.footer_contactInfo_heading}}
                            <h3 class="footer-info-heading">
                                {{theme_settings.footer_contactInfo_heading}}
                            </h3>
                        {{/if}}
                        <div class="footer-info--item">
                            <svg class="icon">
                                <use href="#icon-location"></use>
                            </svg>
                            {{settings.address}}
                        </div>
                        {{#if settings.phone_number}}
                            <div class="footer-info--item">
                                <a  href="tel:{{settings.phone_number}}" title="{{lang 'header.call_us' phone_number=settings.phone_number}}">
                                    <svg class="icon">
                                        <use href="#icon-phone3"></use>
                                    </svg>
                                    {{settings.phone_number}}
                                </a>
                            </div>
                        {{/if}}
                        {{#if theme_settings.footer_email '!==' ""}}
                            <div class="footer-info--item">
                                <a href=mailto:{{theme_settings.footer_email}} title="{{theme_settings.footer_email}}">
                                    <svg class="icon">
                                        <use href="#icon-email"></use>
                                    </svg>
                                    {{theme_settings.footer_email}}
                                </a>
                            </div>
                        {{/if}}
                        {{#if theme_settings.footer_whatsapp '!==' ""}}
                            <div class="footer-info--item">
                                <a href=https://wa.me/{{theme_settings.footer_whatsapp}} title="{{theme_settings.footer_whatsapp}}">
                                    <svg class="icon">
                                        <use href="#icon-whatsapp"></use>
                                    </svg>
                                    {{theme_settings.footer_whatsapp}}
                                </a>
                            </div>
                        {{/if}}
                        {{#if theme_settings.social_icon_placement_bottom}}
                            {{> components/common/social-links}}
                        {{/if}}
                        {{{region name="footer_contact--global"}}}
                    </article>
                {{/if}}

                <div class="footer-info--wrapper">
                    {{#if theme_settings.footer_cs1}}
                    <article class="footer-info--col" data-dinosaur-footer-collapsible>
                        {{#if theme_settings.footer_cs1_title}}
                        <h3 class="footer-info-heading">
                            <a href="#" aria-expanded="false" data-dinosaur-footer-collapsible-handler>
                                {{theme_settings.footer_cs1_title}}
                                {{> components/common/footer-toggle-icon}}
                            </a>
                        </h3>
                        {{/if}}
                        <div class="_wrapper {{#unless theme_settings.footer_cs1_title}}is-open{{/unless}}" aria-hidden="true" data-dinosaur-footer-collapsible-content>
                            <ul class="footer-info-list">
                                {{{region name="footer_cs1--global"}}}
                            </ul>
                        </div>
                    </article>
                    {{/if}}

                    {{#if theme_settings.footer_show_pages '>' -1}}
                        <article class="footer-info--col" data-dinosaur-footer-collapsible>
                            {{#if theme_settings.footer_pages_heading}}
                                <h3 class="footer-info-heading">
                                    <a href="#" aria-expanded="false" data-dinosaur-footer-collapsible-handler>
                                        {{theme_settings.footer_pages_heading}}
                                        {{> components/common/footer-toggle-icon}}
                                    </a>
                                </h3>
                            {{/if}}
                            <div class="_wrapper {{#unless theme_settings.footer_pages_heading}}is-open{{/unless}}" aria-hidden="true" data-dinosaur-footer-collapsible-content>
                                {{#if theme_settings.footer_show_pages '>' 0}}
                                    <ul class="footer-info-list">
                                        {{#each (limit pages theme_settings.footer_show_pages)}}
                                            <li>
                                                <a href="{{url}}">{{name}}</a>
                                            </li>
                                        {{/each}}
                                        {{#if theme_settings.footer_show_pages '>' pages.length}}
                                            <li>
                                                <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                                            </li>
                                        {{/if}}
                                    </ul>
                                {{/if}}
                                {{{region name="footer_below_col4--global"}}}
                            </div>
                        </article>
                    {{/if}}

                    {{#if theme_settings.footer_show_categories '>' -1}}
                        <article class="footer-info--col" data-dinosaur-footer-collapsible>
                            {{#if theme_settings.footer_categories_heading}}
                                <h3 class="footer-info-heading">
                                    <a href="#" aria-expanded="false" data-dinosaur-footer-collapsible-handler>
                                        {{theme_settings.footer_categories_heading}}
                                        {{> components/common/footer-toggle-icon}}
                                    </a>
                                </h3>
                            {{/if}}
                            <div class="_wrapper {{#unless theme_settings.footer_categories_heading}}is-open{{/unless}}" aria-hidden="true" data-dinosaur-footer-collapsible-content>
                                {{#if theme_settings.footer_show_categories '>' 0}}
                                <ul class="footer-info-list">
                                    {{#each (limit categories theme_settings.footer_show_categories)}}
                                    <li>
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                                {{{region name="footer_below_col2--global"}}}
                            </div>
                        </article>
                    {{/if}}

                    {{#if theme_settings.footer_shop_by_brand '>' -1}}
                        <article class="footer-info--col" data-dinosaur-footer-collapsible>
                            {{#if theme_settings.footer_brands_heading}}
                            <h3 class="footer-info-heading">
                                <a href="#" aria-expanded="false" data-dinosaur-footer-collapsible-handler>
                                    {{theme_settings.footer_brands_heading}}
                                    {{> components/common/footer-toggle-icon}}
                                </a>
                            </h3>
                            {{/if}}
                            <div class="_wrapper {{#unless theme_settings.footer_brands_heading}}is-open{{/unless}}" aria-hidden="true" data-dinosaur-footer-collapsible-content>
                                {{#if theme_settings.footer_shop_by_brand '>' 0}}
                                <ul class="footer-info-list">
                                    {{#each (limit shop_by_brand theme_settings.footer_shop_by_brand)}}
                                    <li>
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                    {{/each}}
                                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                                </ul>
                                {{/if}}
                                {{{region name="footer_below_col3--global"}}}
                            </div>
                        </article>
                    {{/if}}

                    {{#if theme_settings.footer_cs2}}
                    <article class="footer-info--col" data-dinosaur-footer-collapsible>
                        {{#if theme_settings.footer_cs2_title}}
                        <h3 class="footer-info-heading">
                            <a href="#" aria-expanded="false" data-dinosaur-footer-collapsible-handler>
                                {{theme_settings.footer_cs2_title}}
                                {{> components/common/footer-toggle-icon}}
                            </a>
                        </h3>
                        {{/if}}
                        <div class="_wrapper {{#unless theme_settings.footer_cs2_title}}is-open{{/unless}}" aria-hidden="true" data-dinosaur-footer-collapsible-content>
                            <ul class="footer-info-list">
                                {{{region name="footer_cs5--global"}}}
                            </ul>
                        </div>
                        </article>
                    {{/if}}
                </div>

                {{#and settings.show_newsletter_box theme_settings.footer_show_newsletter}}
                    {{#if settings.show_newsletter_box}}
                        {{> components/beautify/section-home-newsletter}}
                    {{/if}}
                {{/and}}
            </div>
            {{#if theme_settings.footer_show_contactInfo '!==' true}}
            {{#if theme_settings.social_icon_placement_bottom}}
            {{> components/common/social-links}}
            {{/if}}
            {{/if}}
        </div>
    </section>
    {{{region name="footer_below_columns--global"}}}
    <div class="footer-below">
        <div class="container">
            <div class="footer-copyright">
                <div class="beautify__abovePoweredBy">
                    {{{region name="footer_above_powerby--global"}}}
                </div>
                <div class="powered-by">
                    <div class="_col">
                        {{#if theme_settings.show_copyright_footer}}
                        <p class="powered-by-text _col-copyright-footer">
                            &copy; <span id="copyright_year"></span> {{settings.store_name}}.
                            <script nonce="{{nonce}}">
                                document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
                            </script>
                        </p>
                        {{/if}}
                        {{#if theme_settings.show_powered_by}}
                        <p class="powered-by-text _col-powered-by">
                            {{lang 'footer.powered_by'}}
                            <a href="http://bigcommerce.com" rel="nofollow">BigCommerce.</a>
                            Theme Designed By
                            <a href="https://papathemes.com" rel="nofollow">Papathemes.</a>
                        </p>
                        {{/if}}
                        {{{region name="footer_powered_by--global"}}}
                    </div>
                    {{{region name="footer_copyright--global"}}}
                </div>
            </div>
            <div class="footer-payments">
                {{> components/common/payment-icons}}
                {{> components/beautify/footer-icons}}
            </div>
        </div>
    </div>
</footer>
{{{region name="footer_bottom--global"}}}
{{#if settings.show_newsletter_box}}
{{#if theme_settings.nl_popup_show '===' 'home'}}
{{#if page_type '===' 'default'}}
{{> components/papathemes/newsletter/modal}}
{{/if}}
{{else if theme_settings.nl_popup_show '===' 'all'}}
{{> components/papathemes/newsletter/modal}}
{{/if}}
{{/if}}