---
cart: true
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
shop_by_brand:
    limit: {{theme_settings.sidebar_shop_by_brand}}
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
<div class="page">
    <main class="page-content" data-cart>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        
        {{> components/cart/page-title}}
        
        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        {{{region name="cart_below_header"}}}

        <div class="loadingOverlay"></div>

        {{#if cart.items.length}}
            <div class="beautify__cart" data-cart-container-wrapper>
                <div class="_left">
                    <div class="cart-contentWrapper" data-cart-content>
                        {{> components/cart/content}}
                    </div>
                    {{{region name="cart_content"}}}
                </div>
                <div class="_right">
                    {{{region name="cart_above_totals"}}}

                    <div class="cart-totalsWrapper">
                        <div data-cart-totals>
                            {{> components/cart/totals}}
                        </div>

                        <div class="cart-payment">
                            <h3 class="cart-payment-heading">{{lang 'footer.accepted_payments'}}</h3>
                            {{> components/common/payment-icons}}
                        </div>
                    </div>

                    {{{region name="cart_below_totals"}}}
                    {{{region name="cart_below_checkout_button"}}}
                </div>
            </div>
        {{else}}
            {{> components/cart/empty }}
        {{/if}}

        {{{snippet 'cart'}}}

        {{{region name="cart_bottom"}}}
    </main>
</div>
{{/partial}}
{{#partial "page_bottom"}}
<div class="_suggests">
    {{#if cart.items.length}}
        <div class="beautify__section beautify__section--cartSuggestedProducts _cartPage beautify__section--displayType-{{theme_settings.product_cartsuggested_type}}">
            {{> components/products/cart-suggested display_type=theme_settings.product_cartsuggested_type show_more_in_screen_large=true}}
        </div>
    {{/if}}
    <div class="beautify__section beautify__section--recentlyViewedProducts _cartPage beautify__section--displayType-{{theme_settings.product_recentviewed_type}}">
        {{> components/products/recentviewed display_type=theme_settings.product_recentviewed_type show_more_in_screen_large=true}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
